::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #51ddc8;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3d83df;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    z-index: 1000;
}

.navtools {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    gap: 1.5rem;
}

header img {
    width: 268px;
    height: 33px;
}

#About,
#Career:hover,
#Departments:hover {
    color: #00b39b;
    text-decoration: none;
    cursor: pointer;
}

#Career,
#Departments {
    color: #ababab;
}

#Career,
#Departments {
    color: #ababab;
}

.leadsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8rem;
}

#headerlogo {
    width: 50px;
    aspect-ratio: auto 40 / 40;
    height: 50px;
}

#headerp {
    color: #00b39b;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-top: 20px;
}

.twoparagraphs {
    color: #747474;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 260px;
    padding-right: 280px;
    width: 55%;
    justify-content: space-between;
}

.p1 {
    padding-right: 30px;
}

.forsection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1.375em 1.25em 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 3.75rem auto 2.5rem;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
}

.for1 {
    background-color: #00ccb1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}

.for1 select {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #00ccb1;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-style: bold;
    cursor: pointer;
}

.for2 {
    background-color: #3d83df;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}

.for2 select {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #3d83df;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-style: bold;
    cursor: pointer;
}

.for3 {
    background-color: #1b2734;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}

.for3 select {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #1b2734;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-style: bold;
    cursor: pointer;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.for1 #for1title,
.for2 #for2title,
.for3 #for3title {
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#section3logos {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.section3 div {
    width: 70%;
    display: flex;
}

#section3logos img {
    width: 4.5rem;
    object-fit: contain;
}

#section3title {
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    color: #00b39b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    background-color: #d0faf4;
    padding-left: 50px;
}

.section4header {
    font-family: Work Sans, Arial, sans-serif;
    padding-top: 60px;
}

.section4header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-left: 50px;
}

.h2,
h2 {
    font-size: 30px;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.section4fourparts {
    display: flex;
    margin-right: 50px;
    height: 100%;
    justify-content: space-around;
    margin-left: 100px;
}

.section4header p {
    padding-left: 50px;
    padding-top: 20px;
    font-size: 15px;
    color: #747474;
    padding-bottom: 50px;
}

.section4fourparts div {
    height: 500px;
    width: 250px;
}

#leader,
#patients,
#appointments,
#doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
}

#leader {
    margin-bottom: 20px;
}

#appointments {
    margin-bottom: 20px;
}

.section4fourparts div {
    height: 500px;
    width: 250px;
}

.second2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.first2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
}

.section4fourparts h3 {
    font-size: 1.8461538462em;
    color: #00b39b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
}

.section4fourparts p {
    font-size: 0.8125em;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
}

.section5 {
    padding-top: 50px;
}

.section5 h2 {
    font-size: 2.1428571429em;
    color: #00b39b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
}

.section5 p {
    margin: 1.6em 0;
    line-height: 1.7142857143;
    text-align: center;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
}

.section6 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5cm;
    justify-content: center;
}

.section6 div {
    border-radius: 3%;
    margin: 0.44%;
}

.country {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

img {
    vertical-align: middle;
    border: 0;
}

div .buttons {
    display: flex;
    justify-content: space-between;
}

.section6 button {
    margin-top: 0.5cm;
    display: flex;
    gap: 2cm;
    justify-content: center;
    background: #3d83df;
    line-height: 1em;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.04em;
    text-align: center;
    outline: 0;
    border: 0;
    border-radius: 4px;
    font-size: 2rem;
    font-family: Roboto, Arial, sans-serif;
    margin-right: 20px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

b {
    font-weight: lighter;
    font-size: small;
}

.section6 p {
    font-size: medium;
    color: #747474;
    font-family: Roboto, Arial, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
}

.country div:hover {
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.1);
}

.section7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section7 h1 {
    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: 0.75em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    text-align: center;
    transition: 0.5s;
}

.section7 h1:hover {
    -webkit-text-stroke: 1px #333;
    color: transparent;
}

.section7 button {
    margin-left: 120px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
    text-align: center;
    border: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.section7 button:hover {
    color: #3d83df;
    background-color: white;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

footer {
    text-align: center;
    margin-top: 100px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    color: #ababab;
    padding-left: 100px;
    padding-right: 100px;
}

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

footer p {
    padding-top: 20px;
}

p {
    margin: 0 0 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
